.accordionContainer {
  border-bottom: 1px solid #d7d7d7;
}

.accordionContainer a {
  display: block;
  padding: 20px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}

.accordionContainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px 30px;
  color: #000;
}

.title h3 {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}

.title svg {
  cursor: pointer;
}

/* .active .title {
  background-color: #ebf5ff;
}

.active .desc {
  background: #ebf5ff;
} */

.desc p {
  padding: 0 30px 20px;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}
