.blogs {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.blog{
  width: 32%;
}

.blogImage img {
  border-radius: 5px;
}

.blogTitle {
  margin: 20px 0;
}

.blogTitle h3 {
  font-size: 20px;
  text-align: center;
}

.button{
    text-align: center;
    margin-top: 30px;
}

@media(max-width:567px){
  .blogs{
    flex-direction: column;
  }
  .blog{
    width: 100%;
    margin-bottom: 30px;
  }
  .blog:last-of-type{
    margin: 0;
  }
}