.blogs {
  margin: 50px 0;
}

.blogImage img {
  border-radius: 5px;
}

.blogTitle {
  margin: 20px 0;
}

.blogTitle h3 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.button{
    text-align: center;
    margin-top: 30px;
}

.readMore {
  padding: 10px 20px;
  background-color: #fece1a;
  border: 2px solid #fece1a;
  color: #000;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.readMore:hover {
  background-color: #002eff;
  color: #fece1a !important;
  border: 2px solid #fece1a;
}
