.blogs {
  margin: 50px 0;
}

.blogImage img {
  border-radius: 5px;
}

.blogTitle {
  margin: 20px 0;
}

.blogTitle h3 {
  font-size: 20px;
  text-align: center;
}

.button{
    text-align: center;
    margin-top: 30px;
}
