.form{
    width: 50%;
    margin: 40px auto 0;
}

.inputGroup{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.formGroup{
    width: 100%;
    margin: 0 10px;
}

.formGroup textarea{
    height: 100px;
}

.inputButton{
    text-align: center;
    margin-top: 30px;
} 
