.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 20px;
  flex-wrap: wrap;
}

.icon {
  width: 16%;
  text-align: center;
  margin-bottom: 25px;
}

.icon img {
  width: 30%;
}

.icon p {
  font-weight: bold;
  margin: 20px;
}

@media(max-width: 767px){
  .icon{
    width: 25%;
  }
  .icon p{
    font-size: 16px;
  }
}

@media(max-width:567px){
  .icon{
    width: 33%;
  }
}