.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 20px;
  flex-wrap: wrap;
}

.icon {
  width: 16%;
  text-align: center;
  margin-bottom: 25px;
}

.icon img {
  width: 30%;
}

.icon p {
  font-weight: bold;
  margin: 20px;
}
