.imagesContainer{
  margin-top: 70px;
}

.imageContainer {
  filter: grayscale(1);
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.imageContainer:hover {
  filter: none;
}

.imageContainer:first-of-type img {
  width: 80%;
}

.sbsImageContainer,
.sbsImageContainerI {
  display: flex;
  align-items: center;
}

.sbsImage {
  width: 40%;
  text-align: center;
}

.sbsContent {
  width: 60%;
}

.sbsTitle {
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .sbsImageContainer {
    flex-direction: column;
    padding: 20px 0;
  }
  .sbsImageContainerI {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  .sbsContent {
    width: 100%;
    text-align: center;
  }
  .sbsImage {
    width: 60%;
    margin-bottom: 30px;
  }
  .sbsTitle {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .imagesContainer{
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .imageContainer {
    padding: 10px;
  }
}
