.typesOfWeb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px
}

.image{
  width: 40%;
}

.content{
  width: 50%;
}

.content > div{
  margin-bottom: 30px;
}