.whiteLabelBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 150px;
  padding-top: 150px;
  text-align: center;
  position: relative;
  background-color: #8ea2ff;
}

.heroContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroText {
  width: 45%;
}

.heroForm {
  width: 45%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 12%);
}

.form h3 {
  font-size: 25px;
}

.form p {
  margin: 20px 0;
  text-align: center;
}

.form form {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #002eff;
  margin: 0 auto;
}

.form input {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #002eff;
  padding-left: 10px;

  height: 40px;
}

.form select {
  width: 100%;
  margin: 10px 0 20px;
  border-radius: 5px;
  border: 1px solid #002eff;
  height: 40px;
  padding-left: 10px;
}

.form button {
  padding: 10px 20px;
  background-color: #002eff;
  border: 2px solid #002eff;
  color: #fff;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.form button:hover {
  background-color: #fece1a;
  color: #1d1d1d !important;
  border: 2px solid #000;
}

.partnerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
}

.partnerLogo img {
  width: 20%;
  border: 1px solid #000;
  border-radius: 10px;
  background: #fff;
  filter: grayscale(1);
  margin: 0 20px;
}

.partnerLogo img:hover {
  filter: none;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 8%);
}

.industryBoxes,
.whiteLabelBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 50px 0;
}

.whiteLabelBoxes {
  margin-bottom: 0;
}

.industryBox {
  width: 48%;
  margin: 15px 10px;
  background-color: #fff;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 12%);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.industryBox img {
  width: 50%;
}

.whiteLabelBox {
  background-color: #fcfcfc;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
  padding: 40px;
  width: 23%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.whiteLabelBox h3 {
  font-size: 24px;
  font-weight: bold;
}

.whiteLabelBox img {
  width: 100%;
  margin: 30px 0;
}

.revenueGoals {
  text-align: center;
  margin-bottom: 50px;
}

.revenueGoals img {
  width: 30%;
}

.abcContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 50px 0;
  flex-wrap: wrap;
}

.abc {
  padding: 40px;
  background-color: white;
  border-radius: 15px;
  width: 32%;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: center;
  text-align: center;
}

.abc h3 {
  font-family: "veronabold";
}

.abc h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #002eff;
  color: #fff;
  border-radius: 50%;
  font-size: 25px;
  margin-bottom: 30px;
}

.abc p {
  margin: 30px 0;
}

.abc img {
  width: 80%;
}

.adsLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
  flex-wrap: wrap;
}

.adsLogo img {
  width: 22%;
  margin: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  background: #fff;
  filter: grayscale(1);
  padding: 25px;
}

.adsLogo img:hover {
  filter: none;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 8%);
}