.whyUs{
  display: flex;
  align-items: center;
}

.images {
  width: 40%;
  position: relative;
  margin-top: 50px;
}

.backImage {
  position: absolute;
  z-index: 0;
}

/* .frontImage img {
  max-width: 80%;
} */

.whyUsContent{
  width: 60%;
}

.whyUsContent div{
  margin-bottom: 40px;
}

@media(max-width: 767px){
  .whyUs{
    flex-direction: column-reverse;
  }
  .whyUsContent{
    width: 100%;
  }
  .images{
    width: 100%;
    margin: 0;
  }
}